<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If a file or directory exists, serve it directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Otherwise, redirect to index.html
  RewriteRule ^ index.html [L]
</IfModule>
